<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body>

    <% include ../partials/navbar %>

    <main>

    	<div class="container">
        <div class="project-header row">
          <h1><%= project.name %></h1> <span class="label label-default"><%= project.status %></span>
        </div>
    	</div>

      <div class="container">
        <div class="project-description row">
          <p>
            <%- project.description %>
          </p>
          <% if (project.blogUrl) { %>
          <p>
            For more details about the development of <%= project.name %>, check out my <a href="<%= project.blogUrl %>">blog post</a>.
          </p>
          <% } %>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <span class="repo-link"><a href="<%= project.githubUrl %>"><i class="fab fa-github"></i> GitHub Repository</a></span>
        </div>
        <% if (project.hosting) { %>
        <div class="row">
          <span class="repo-link"><a href="<%= project.hosting.url %>"><i class="fas fa-database"></i> <%= project.hosting.name %></a></span>
        </div>
        <% } %>
      </div>

    </main>

    <% include ../partials/footer %>

  </body>
</html>
